<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form method="post">
          <fieldset>
        <legend>
            Sign Up
        </legend>
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    <input type="email" name="email" id="">
                </td>
            </tr>
            <tr>
                <td>Passwword</td>
                <td><input type="password" name="pwd" id=""></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="mobile" id="" min="10" max="10"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio" name="gender" id="" value="male"> Male
                <input type="radio" name="gender" id="" value="female"> Female
                </td>
            </tr>
            <tr><td>
                <input type="submit" value="Submit">
            </td>
                
            </tr>
        </table>
    </fieldset>
    </form>
  
</body>
</html>