<form method="post" >

First Name: <input type="text" value="{{mydata.first_name}}" name="firstname"/>
Last Name : <input type="text"  value="{{mydata.last_name}}" name="lastname"/>
Email : <input type="email" value="{{email}}" name="email"/>
Contact number :<input type="number" value="{{contact_number}}" name="contact_number"/>
<input type="submit"/>

</form>