
    <form action="" method="post"> 
<table> 
    first Name : <input type="text" name="fname">
    Last Name : <input type="text" name="lname">
    Email :<input type="email" name="email">
    <input type="submit" value="Submit">
</table>
    </form>
