<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="jumbotron text-center">
    <h1>404 Error!</h1>
    <div class="code-block code-block-4" style="margin: 8px 0; clear: both;">
        <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- o-b-4 -->
        <ins class="adsbygoogle" style="display: block; height: 280px;" data-ad-client="ca-pub-3338220673629828"
            data-ad-slot="7733239267" data-ad-format="auto" data-full-width-responsive="true"
            data-adsbygoogle-status="done"><ins id="aswift_6_expand"
                style="border: none; height: 280px; width: 725px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-table;"><ins
                    id="aswift_6_anchor"
                    style="border: none; height: 280px; width: 725px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: block;"></ins></ins></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <p>PAGE NOT FOUND</p>
</div>