<html>
    <form method="post" enctype="multipart/form-data"> 
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
             <tr>
                <td>Gender</td>
                <td><input type="radio" name="gender" id="" value="female">Female
                <input type="radio" name="gender" id="" value="male">Male</td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id=""></td>
            </tr>
           <tr>
               <td>Join Date</td>
               <td><input type="date" name="date" id=""></td>
           </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="photo" id=""></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td><input type="checkbox" name="hob[]" value="cri"/> cricket
                <input type="checkbox" name="hob[]" value="fot"/> football
                <input type="checkbox" name="hob[]" value="swi"/> swimming</td>
            </tr>
        </table>
    </form>
</html>