<form method="post" action="">

Name : <input type="text" name="name"/>
email: <input type="email" name="email" id="">
Mobile : <input type="text" name="mobile"/>
<input type="submit"/> <br>
<a href="display">Show</a>
</form>