<html>
<fieldset>
    <legend>Log In</legend>
    <form action="" method="POST">
        <table>
            <tr>
                <td>
                    E-mail
                </td>
                <td>
                    <input type="email" name="email" id="">
                </td>

            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Log In">
                </td>

            </tr>
        </table>

    </form>

</fieldset>

</html>