<html>
    <form method="POST">
        <table>
            <tr>
            
                <td> Maths</td> 
                <td><input type="number" name="maths" min="0" max="100" placeholder="Enter Maths marks"></td>
            </tr>
        
            <tr>
               
                <td> Science</td>
                <td><input type="number" name="science" min="0" max="100" placeholder="Enter Science marks"></td>
            </tr>
            
            <tr>

                
                <td> English</td>
                <td><input type="number" name="english" min="0" max="100" placeholder="Enter Science marks"></td>
            </tr>
            <tr>
              
                <td> Hindi</td>
                <td><input type="number" name="hindi" min="0" max="100" placeholder="Enter hindi marks"></td>
            </tr>
    
            <tr>
            
                <td>Gujarati</td>
                <td><input type="number" name="gujarati" min="0" max="100" placeholder="Enter gujarati marks"></td>
            </tr>
        
            <tr>
                <td>
                    <input type="submit" value="Result">
                </td>
            </tr>
        </table>
    </form>
</html>