<html>
<form method="POST">
    <fieldset>
        <legend>Sign Up</legend>
        <table>
            <tr>
               
                <td> <br>First Name</td>
                <td><input type="text" name="fname"></td>
            </tr>
        
            <tr>
         
                <td> <br>Last Name</td>
                <td><input type="text" name="lname"></td>
            </tr>
            
            <tr>
                
                <td> <br>e-mail</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
              
                <td> <br>Contact Number
                    <td><input type="text" name="cno"></td>
                </td>
            </tr>
    
            <tr>
            
                <td> <br>Password</td>
                <td><input type="password" name="pwd"></td>
            </tr>
        
            <tr>
               <td> <br>Conform Password</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td>
                    <br><input type="submit">
                </td>
            </tr>
        </table>
    </fieldset>
   
</form>

</html>