<html>

<body>
    <h1>Employee</h1>
    <form action="" method="POST">
        <table>
           
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastname"></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="email" name="email"></td>
            </tr>
             <tr>
                 <td>Company Name</td>
                <td>
                    <input type="text" name="company_name">
                </td>
            </tr>
           <tr>
               <td>Designation</td>
               <td><input type="text" name="designation"></td>
           </tr>
            <tr>
                <td>Contact No</td>
                <td><input type="number" name="contact_number" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="">Submit</td>
            </tr>
        </table>
    </form>

</body>

</html>